.contact-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    font-size: 50px;
    margin-bottom: 20px;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 80px;
    font-weight: 700;
}

.contact-left p {
    max-width: 700px;
    font-size: 20px;
    line-height: 35px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label {
    font-size: 22px;
    font-weight: 500;
}

.contact-right input {
    border: 1px solid brown;
    width: 500px;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    font-size: 20px;
}

.contact-right textarea {
    border: 1px solid brown;
    width: 500px;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
}

.contact-submit {
    border: 3px solid brown;
    border-radius: 50px;
    font-size: 22px;
    padding: 20px 60px;
    margin-top: 30px;
    cursor: pointer;
}