li,
a {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  background-color: brown;
}

.nav-title {
  font-size: 46px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 26px;
}

.settings-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  transition: transform 0.3s ease;
}

.settings-btn.open {
  transform: rotate(260deg);
}

.settings-menu {
  position: absolute;
  top: 60px;
  right: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
}

.settings-menu.show {
  display: flex;
  opacity: 2;
  transform: translateY(0);
}

.theme-btn,
.language-btn {
  background: none;
  border: none;
  font-size: 16px;
}
