.footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background: brown;
}

.footer p {
    font-size: 20px;
}