* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

body.light {
  background: #fff;
  color: #000;
}

body.dark {
  background: #000;
  color: #fff;
}