.about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
  box-sizing: border-box;
}

.about-me-title {
  margin-bottom: 60px;
  font-size: 50px;
  text-align: center;
}

.about-me-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.about-me-info p {
  max-width: 800px;
  line-height: 1.6;
  font-size: 24px;
}

.profile-picture {
  width: 400px;
  height: 400px;
  object-fit: cover;
}