.about-me {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  gap: 90px;
}

.about-me-title {
  font-size: 50px;
}

.about-me-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
}

.about-me-info p {
  max-width: 700px;
  line-height: 1.6;
  font-size: 24px;
  text-align: left;
}

.profile-picture {
  width: 400px;
  height: 400px;
  object-fit: cover;
}